h1 {
    font-family: 'Chango', cursive;
    text-align: center;
    font-size: 40px;
    padding: 20px 20px;
}

p {
    margin-left: 30px;
}

.s_box {
    color: black;
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    margin: 10px 2px;
    padding-top: 5px;
}

.s_box:hover {
    margin: 8px 2px;
    border-top: 2px inset red;
    border-bottom: 2px inset red;
}

hr {
    border: .5px solid navy
}
input {
    padding: 2px 5px;
    border: 2px solid black;
}
button[type="submit"] {
    height: 25px;
    background-color: skyblue; border: 2px outset black;
    width: 100px;
}
button[type="reset"] {
    height: 25px;
    background-color: red; border: 2px outset black;
    width: 100px;
}
button[type="submit"]:hover {
    height: 25px;
    font-family: 'Josefin Sans', sans-serif;
    background: radial-gradient(circle at 50% 50%, Aqua 0%,skyblue 100%);
}
button[type="reset"]:hover {
    height: 25px;
    font-family: 'Josefin Sans', sans-serif;
    background: radial-gradient(circle at 50% 50%, Lightcoral 0%,red 100%);
}